<%= form_for @changeset, Routes.hello_path(@conn, :create), fn f -> %>
  <label>
    Name: <%= text_input f, :name, placeholder: "Please Enter Your Name" %>
  </label>

  <label>
    email: <%= text_input f, :email, placeholder: "Please Enter Email Address" %>
  </label>

  <%= submit "Submit", class: "btn btn-success" %>
<% end %>